<!DOCTYPE html> ​
<html lang="en-US">
​

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="../../assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="../../assets/css/jquery.mCustomScrollbar.css" type="text/css">
    <link rel="stylesheet" href="../../assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="../../assets/css/user.style.css" type="text/css">
    <title>
        Thank You For Submitting
    </title>
    <style>
        a {
            color: #ff513f;
        }

        a:hover {
          color: #7f281f;
        }

    </style>
</head>
​

<body onunload="" class="map-fullscreen page-homepage navigation-off-canvas" id="page-top">
    ​
    <!-- Outer Wrapper-->
    <div id="outer-wrapper">
        <!-- Inner Wrapper -->
        <div id="inner-wrapper">
            <!-- Navigation-->
            <div class="header">
                <div class="wrapper">
                    <div class="brand">
                        <a href="/"><img src="../../assets/img/logo.png" alt="logo"></a>
                    </div>
                    <nav class="navigation-items">
                        <div class="wrapper">
                            <ul class="main-navigation navigation-top-header"></ul>
                            <ul class="user-area">
                              <li><a href="/user"><strong>API Token</strong></a></li>
                              <li><a href="/about">About Us</a></li>
                            </ul>
                            <div class="toggle-navigation">
                                <div class="icon" id="burger">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- end Navigation-->

            <div id="page-canvas" style="padding-top: 50px; padding-bottom: 20px;">

                <div class="container">

                    <div class="row">

<h2 align="center"><a href = "/admin/listings/new">CREATE NEW LISTING</a></h2>
<h2 align="center">See all listings:</h2>
<br>
<div class="container">
    <% listings.forEach( listing => { %>
        <ul>
            <li><strong>Category: </strong>
                <%= listing.category %>
            </li>
            <li><strong>Title: </strong>
                <%- link_to(listing.title, '/admin/listings/'+listing.id) %>
            </li>
            <li><strong>Address: </strong>
                <%= listing.location %>
            </li>
            <li><strong>Latitude: </strong>
                <%= listing.latitude %>
            </li>
            <li><strong>Longitude: </strong>
                <%= listing.longitude %>
            </li>
            <li><strong>Website: </strong>
                <%= listing.url %>
            </li>
            <li><strong>Type: </strong>
                <%= listing.type %>
            </li>
            <li><strong>Type Icon: </strong>
                <%= listing.type_icon %>
            </li>
            <li><strong>Verified: </strong>
                <%= listing.verified %>
            </li>
            <li><strong>Image URL: </strong>
                <%= listing.gallery %>
            </li>
        </ul>
        <% }) %>
</div>
</div>
</div>
</div>
<!--Page Footer-->
<footer id="page-footer">
  <div class="inner">
    <div class="footer-bottom">
      <div class="container" align="center">
        © Ginger Singapore, Inc.
      </div>
    </div>
    <!--/.footer-bottom-->
  </div>
</footer>
<!--end Page Footer-->
</div>
<!-- end Inner Wrapper -->
</div>
<!-- end Outer Wrapper-->

<script type="text/javascript" src="../../assets/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="../../assets/js/before.load.js"></script>
<script type="text/javascript" src="../../assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../assets/js/smoothscroll.js"></script>
<script type="text/javascript" src="../../assets/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.hotkeys.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.nouislider.all.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="../../assets/js/infobox.js"></script>
<script type="text/javascript" src="../../assets/js/richmarker-compiled.js"></script>
<script type="text/javascript" src="../../assets/js/markerclusterer.js"></script>
<script type="text/javascript" src="../../assets/js/custom.js"></script>
<script type="text/javascript" src="../../assets/js/maps.js"></script>

<!--[if lte IE 9]>
=======
  </footer>
  <!--end Page Footer-->

</div>
<!-- end Inner Wrapper -->
</div>
<!-- end Outer Wrapper-->


<script type="text/javascript" src="../../assets/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="../../assets/js/before.load.js"></script>
<script type="text/javascript" src="../../assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../assets/js/smoothscroll.js"></script>
<script type="text/javascript" src="../../assets/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.hotkeys.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.nouislider.all.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="../../assets/js/infobox.js"></script>
<script type="text/javascript" src="../../assets/js/richmarker-compiled.js"></script>
<script type="text/javascript" src="../../assets/js/markerclusterer.js"></script>
<script type="text/javascript" src="../../assets/js/custom.js"></script>
<script type="text/javascript" src="../../assets/js/maps.js"></script>

<!--[if lte IE 9]>
>>>>>>> 5dc1e8b5534f3955d52a5b851da4587a7586165a
<script type="text/javascript" src="assets/js/ie-scripts.js"></script>
<![endif]-->

<!--[if lte IE 9]>
<script type="text/javascript" src="assets/js/ie-scripts.js"></script>
<![endif]-->
</body>

</html>
