<h1>EDIT THIS LISTING</h1>
<div class="container">
    <ul>
        <li><strong>Title: </strong>
            <%= listing.title %>
        </li>
        <li><strong>Address: </strong>
            <%= listing.location %>
        </li>
        <li><strong>Website: </strong>
            <%= listing.url %>
        </li>
        <li><strong>Image URL: </strong>
            <%= listing.gallery %>
        </li>
    </ul>
</div>
<!-- START OF FORM FOR ADMIN LISTING UPDATE -->
<div class="col-md-8" , align="center">
    <div class="row">
        <form method="post" action=<%="/admin/listings/" + listing._id + "?_method=PATCH" %> >
          <br>
          <input type="string" name="category" placeholder="category" id="category">
          <br>
          <br>
          <input type="string" name="title" placeholder="Title" id="title">
          <br>
          <br>
          <input type="string" name="location" placeholder="Address" id="location">
          <br>
          <br>
          <input type="text" name="latitude" placeholder="latitude" id="latitude">
          <br>
          <br>
          <input type="text" name="longitude" placeholder="longitude" id="longitude">
          <br>
          <br>
          <input type="string" name="url" placeholder="Listing url" id="url">
          <br>
          <br>
          <input type="string" name="type" placeholder="type" id="type">
          <br>
          <br>
          <input type="string" name="type_icon" placeholder="type_icon" id="type_icon">
          <br>
          <br>
          <input type="boolean" name="verified" placeholder="verified" id="verified">
          <br>
          <br>
          <input type="string" name="gallery" placeholder="image" id="type_icon">
          <br>
          <br>
            <div class="form-group col-md-4">
                <input type="hidden" name="id" value="<%= listing.id %>">
                <button type="submit" class="btn btn-primary col-md-12">Edit</button>
            </div>
        </form>

        <form method="post" action=<%="/admin/listings/" + listing._id + "?_method=DELETE" %> >
            <div class="form-group col-md-4">
                <button type="delete" class="btn btn-primary col-md-12" value="Delete">Delete</button>
            </div>
        </form>

        <br>
    </div>
</div>

<div class="col-lg-2">
    <h2></h2>
    <p></p>
</div>
<!-- END OF FORM FOR ADMIN LISTING SUBMISSION -->
